<!-- About Section -->
    <section id="expedu">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience &amp; Education </h2>
                    <h3 class="section-subheading text-muted">Timeline</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/rysensteen.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2004-2006</h4>
                                    <h4 class="subheading">Rysensteen Gymnasium</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I went to Rysensteen Gymnasium (High School) in the center of Copenhagen. I still think back on these three years as some of the best time I have ever had. Loads of friends and stuff to do. My focus was on Math, Physics, English and Music (I play the drums). During this time I obtained a position at the Parker Institute, Frederiksberg Hospital, where I would be working for the next 10 years.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/physics.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007-2011</h4>
                                    <h4 class="subheading">B.Sc. Physics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I had a great time studying physics at University of Copenhagen. After finishing the mandatory electromagnetism-, special relativity- and quantum mechanics courses I focused on mathematical modeling, programming, and medical imaging. An abstract of my bachelor’s thesis on knee cartilage segmentation was presented at EULAR 2011, London, and I gave an oral presentation at IEEE ELMAR 2011, Zadar, Croatia, which won the “Best Student Paper” award.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/medicinandtechnology.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2014</h4>
                                    <h4 class="subheading">M.Sc. Eng., Medicin &amp; Technology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">For my Master's, I specialized in machine learning and medical image processing. Being part medicine and part computer science, this degree provides a fantastic multi-disciplinary foundation for working in this field. And as a graduate in engineering I come with an open mind, new ideas and high standards for myself and the company I work for.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/imageanalysis.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-present</h4>
                                    <h4 class="subheading">Scientific Project Officer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I currently work for Image Analysis in London, England, as a Scientific Project Officer. My responsibilities include developing the core image processing algorithms for Image Analysis' cloud-based MRI scoring platform, supporting clinical clients and keeping our servers up and running. It's a fantastic job. We are changing the future of DCE-MRI's role in cancer and inflammatory diseases diagnosis.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
